.gmxApplication-rootContainer { position: relative; width: 100%; height: 100%; }
.gmxApplication-mapContainer { position: absolute; top: 0; bottom: 0; left: 0; right: 0; transition: opacity .5s ease; opacity: 1; }
.gmxApplication-mapContainer_hidden { opacity: 0; }
.gmxApplication-widgetsContainer { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

.gmxApplication-widgetsContainer_mobileSidebarOpened .iconSidebarWidget { box-shadow: none; border-top: 1px solid rgba(0,0,0,0.2); border-bottom: 1px solid rgba(0,0,0,0.2); bottom: 0px; border-radius: 0px; }

.gmxApplication-mapContainer { z-index: 1010; }
.gmxApplication-widgetsContainer { z-index: 1020; pointer-events: none; }
.gmxApplication-widgetsContainer .ui-widget, .gmxApplication-widgetsContainer .iconSidebarWidget { pointer-events: auto; }

.gmxApplication-widgetsContainer .iconSidebarWidget { top: 0px; }
.gmxApplication-widgetsContainer .iconSidebarWidget.iconSidebarWidget-afterAnimation-bottom { bottom: 0px; }

.gmxApplication-centerbsControlCorner { background-color: hsla(0, 0%, 100%, 0); transition: background-color .5s ease; }
.gmxApplication-centerbsControlCorner-fadeIn { background-color: hsla(0, 0%, 100%, 1); }

.gmxApplication-noShadow { box-shadow: none; border: none; }