.gmxApplication { z-index: 5; /* less than ui-datepicker's (8) */ }

.gmxApplication-rootContainer { position: relative; width: 100%; height: 100%; }
.gmxApplication-mapContainer { position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 5; transition: opacity .5s ease; opacity: 1; }

.gmxApplication-centerbsControlCorner { background-color: hsla(0, 0%, 100%, 0); transition: background-color .5s ease; }
.gmxApplication-centerbsControlCorner-ie9 { } /* в IE9 background не даёт кликнуть по слоям */
.gmxApplication-centerbsControlCorner-fadeIn { background-color: hsla(0, 0%, 100%, 1); }

.calendarContainer { display: flex; align-items: center; box-sizing: border-box; height: 55px; pointer-events: auto; }
.calendarContainer { border-radius: 2px; padding: 10px; background: #fff; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65); }

.gmxApplication_withCalendar .iconSidebarControl-controlCorner { padding-top: 75px; }
.gmxApplication_withBottomControls .iconSidebarControl-controlCorner { padding-bottom: 30px; }

.gmxApplication-noShadow.calendarContainer { box-shadow: none; }

.infoControl { position: absolute; top: auto; bottom: 0; left: 0; right: 0; background-color: hsla(0, 0%, 100%, .9); box-shadow: 0 0 4px hsla(0, 0%, 0%, .3); }
.infoControl.leaflet-control { margin: 0; padding: 10px; }
.infoControl .eventDetailsView-title { font-size: 1.2em; }
.infoControl_overflow { overflow: scroll; }

.gmxApplication .iconSidebarControl-controlCorner_locked { pointer-events: auto; background-color: hsla(0, 0%, 100%, 0.65); }